<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="msindwan.handbook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="msindwan.handbook.views.dashboard.Dashboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label=""
            android:name="msindwan.handbook.views.tutorial.TutorialEditor">
        </activity>
        <activity
            android:name="msindwan.handbook.views.tutorial.TutorialViewer">
        </activity>
        <provider
            android:exported="false"
            android:name="msindwan.handbook.data.DataContentProvider"
            android:authorities="msindwan.handbook.data.DataContentProvider"/>
    </application>

</manifest>